@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Store</h1>

    <div class="d-grid gap-2">
        <a class="btn btn-primary" asp-controller="Products" asp-action="Index">Get Started</a>
    </div>
</div>
